{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div>
        <h4>{{ object.name }}</h4>
        <p>主催者： {{ object.owner }}</p>
        {% for partici in object.participant.all %}
            <p>参加者: {{ partici }}</p>
        {% endfor %}
        <p>{% trans 'created_at' %}:{{ object.created_at }}</p>
        <p>{% trans 'updated_at' %}:{{ object.updated_at }}</p>
        {% if object.owner == user %}
        <p>あなたがオーナーです</p>
        <button>Develop</button>
        {% elif user in object.participant.all %}
        <p>あなたは参加者です</p>
        {% elif user.current_room %}
        <p>あなたは他のルームに参加しています</p>
        {% else %}
        <a href="{% url 'room:join' room_pk=object.pk %}">参加する</a>
        {% endif %}
        <a href="javascript:void(0);" onclick="window.history.back();">{% trans 'return' %}</a>
    </div>
    <a href="{% url 'room:list' %}">{% trans 'list' %}</a>
{% endblock %}